
label{

    color: rgb(14, 52, 221);
    font-weight: bold;
}

input{

    width: 100px;
    /*Bordas arredondadas*/
    border-radius: 4px;
}

textarea{

    width: 220px;
    border-radius: 4px;
}

button{

    width: 100px;
    height: 30px;
    color: black;
    background-color: darkgoldenrod;
}

button:hover{

    color: darkgrey;
    background-color: blue;
    font-weight: bold;
}

